@import 'reset';
@import 'font';

$pad: 20px;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin unfold{
  float:left;
  padding-right:$pad;

  [class*="column"]{
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.container{
  margin:  0 auto;
  padding: $pad $pad;
}

.row{
  float: none;
  margin:0 auto;
}

.container, .row{
  content: " ";
  display:table;
  clear:both;
}

@for $i from 1 through 12 {
  .column-xs-#{$i},  {
    width: $i*8.333333%;
    float:left;
  }
}

div.draw{
  border:1px solid black;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .row{
    width:100%;
  }
  [class*="column-sm"]{
    @include unfold
  }
  @for $i from 1 through 12 {
    .column-sm-#{$i},  {
      width: $i*8.333333%;
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .row{
    width:100%;
  }
  [class*="column-md"]{
    @include unfold
  }
  @for $i from 1 through 12 {
    .column-md-#{$i} {
      width: $i*8.333333%;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .row{
    width:100%;
  }
  [class*="column-lg"]{
    @include unfold
  }
  @for $i from 1 through 12 {
    .column-lg-#{$i} {
      width: $i*8.333333%;
    }
  }
}



