@import 'reset';
@import 'clearfix';
@import 'font';

$column-width:60px;
$gutter-width:20px;

@mixin grid-unit($span) {
  float: left;
  width: ($column-width * $span) + ($gutter-width * ($span - 1)) ;
}

@mixin fold {
  display:block;
  margin-left:0;
  margin-top: $gutter-width;
  float:none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
  margin-right: auto;
  margin-left: auto;
}

.row{
  @include clearfix;
  @include grid-unit(12);
  float: none;
  margin-top:$gutter-width;
  margin-bottom:$gutter-width;
  margin-left: auto;
  margin-right: auto;
}
.row div + div{
  margin-left: $gutter-width;
}

.container, .row{
    content: " ";
    display:table;
    clear:both;
  }

.column-sm-1{
  @include grid-unit(1);
}
.column-sm-2{
  @include grid-unit(2);
}
.column-sm-3{
  @include grid-unit(3);
}
.column-sm-4{
  @include grid-unit(4);
}
.column-sm-5{
  @include grid-unit(5);
}
.column-sm-6{
  @include grid-unit(6);
}
.column-sm-7{
  @include grid-unit(71);
}
.column-sm-8{
  @include grid-unit(8);
}
.column-sm-9{
  @include grid-unit(9);
}
.column-sm-10{
  @include grid-unit(10);
}
.column-sm-11{
  @include grid-unit(11);
}
.column-sm-12{
  @include grid-unit(12);
}
.column-md-1{
  @include grid-unit(1);
}
.column-md-2{
  @include grid-unit(2);
}
.column-md-3{
  @include grid-unit(3);
}
.column-md-4{
  @include grid-unit(4);
}
.column-md-5{
  @include grid-unit(5);
}
.column-md-6{
  @include grid-unit(6);
}
.column-md-7{
  @include grid-unit(71);
}
.column-md-8{
  @include grid-unit(8);
}
.column-md-9{
  @include grid-unit(9);
}
.column-md-10{
  @include grid-unit(10);
}
.column-md-11{
  @include grid-unit(11);
}
.column-md-12{
  @include grid-unit(12);
}

.draw{
  height:60px;
  background-color: rgba(0,0,0,0.2)
}

/*
@media (max-width: 768px){
  [class*="column-sm"]{
    @include fold
  }
}

@media (max-width: 992px){
  [class*="column-md"]{
    @include fold
  }
}

@media (max-width: 1200px){

}
*/

