@import 'reset';
@import 'font';

$pad: 10px;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin unfold {
  float:left;
}


.container{
  margin:  $pad auto;
}

.row{
  float: none;
}

.container, .row{
  content: " ";
  display:table;
  clear:both;
}



[class*="column"]{
  display:block;
  width:100%;
  padding-bottom:$pad;
  padding-top:$pad;

  padding-left:$pad / 2;
  padding-right: $pad / 2;

  &:first-of-type {
    padding-left: $pad;
  }
  &:last-of-type {
    padding-right: $pad;
  }
}

.draw{
  border:1px solid black;
}

@media (min-width: 768px) {
  .container, .row {
    width: 750px;
  }
  [class*="column-sm"]{
    @include unfold
  }
  @for $i from 1 through 12 {
    .column-sm-#{$i},  {
      width: $i*8.333333%;
    }
  }
}
@media (min-width: 992px) {
  .container, .row {
    width: 970px;
  }
  [class*="column-md"]{
    @include unfold
  }
  @for $i from 1 through 12 {
    .column-md-#{$i} {
      width: $i*8.333333%;
    }
  }
}
@media (min-width: 1200px) {
  .container, .row {
    width: 1170px;
  }
  [class*="column-lg"]{
    @include unfold
  }
  @for $i from 1 through 12 {
    .column-lg-#{$i} {
      width: $i*8.333333%;
    }
  }
}



